[submodule "zk-crates/zk-headstash/submodules/zcash-devtool"]
	path = zk-crates/zk-headstash/submodules/zcash-devtool
	url = https://github.com/zcash/zcash-devtool
[submodule "zk-crates/zk-headstash/submodules/dao-contracts"]
	path = zk-crates/zk-headstash/submodules/dao-contracts
	url = https://github.com/DA0-DA0/dao-contracts/
[submodule "zk-crates/zk-headstash/submodules/halo2-secp"]
	path = zk-crates/zk-headstash/submodules/halo2-secp
	url = https://github.com/personaelabs/halo2-secp
[submodule "zk-crates/zk-headstash/submodules/orchard"]
	path = zk-crates/zk-headstash/submodules/orchard
	url = https://github.com/zcash/orchard
[submodule "zk-crates/zk-headstash/submodules/zk-nullifier-sig"]
	path = zk-crates/zk-headstash/submodules/zk-nullifier-sig
	url = https://github.com/plume-sig/zk-nullifier-sig/
[submodule "egui"]
	path = egui
	url = https://github.com/emilk/egui
[submodule "zk-crates/zk-headstash/submodules/sapling-crypto"]
	path = zk-crates/zk-headstash/submodules/sapling-crypto
	url = https://github.com/zcash/sapling-crypto
[submodule "zk-crates/zk-headstash/submodules/halo2-lib"]
	path = zk-crates/zk-headstash/submodules/halo2-lib
	url = https://github.com/shreyas-londhe/halo2-lib
	branch = feat/secp256k1-hash2curve-poseidon
[submodule "zk-crates/zk-headstash/submodules/WebZjs"]
	path = zk-crates/zk-headstash/submodules/WebZjs
	url = https://github.com/ChainSafe/WebZjs
